/* FONTES ------------------------------------------------------------------- */

@font-face {
    font-family: AlegreyaSans;
    src: url('assets/fonts/alegreya-sans/AlegreyaSans-Regular.otf');
}

@font-face {
    font-family: AlegreyaSC;
    src: url('assets/fonts/alegreya-sans/AlegreyaSansSC-Regular.otf');
}

@font-face {
    font-family: RosarioItalic;
    src: url('assets/fonts/rosario/Rosario-Italic.otf');
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/raleway/Raleway-Regular.ttf');
}

/* GLOBAL ------------------------------------------------------------------- */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: 'AlegreyaSC', Arial, sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'AlegreyaSans', Arial, sans-serif;
  font-size: 20px;
}

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}

.hidden {
  display: none;
}
