/* FONTES ------------------------------------------------------------------- */

@font-face {
    font-family: AlegreyaSans;
    src: url('assets/fonts/alegreya-sans/AlegreyaSans-Regular.otf');
}

@font-face {
    font-family: AlegreyaSC;
    src: url('assets/fonts/alegreya-sans/AlegreyaSansSC-Regular.otf');
}

@font-face {
    font-family: RosarioItalic;
    src: url('assets/fonts/rosario/Rosario-Italic.otf');
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/raleway/Raleway-Regular.ttf');
}

/* GLOBAL ------------------------------------------------------------------- */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.section {
  float: left;
  position: relative;
  width: 100%;
  z-index: 3;
  padding: 30px 0 60px 0;
}

.section h1 {
  padding: .2em;
  font: 50px 'AlegreyaSC', Arial, sans-serif;
  font-weight: normal;
  width: 100%;
  margin-top: .65em;
  text-align: center;
}

h2 {
  font-family: 'AlegreyaSans', Arial, sans-serif;
  font-size: 20px;
}

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}

.hidden {
  display: none;
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
}

@media screen and (max-width: 450px) {
  .section {
    padding-bottom: 30px;
  }

  .section h1 {
    font: 30px 'AlegreyaSC', Arial, sans-serif;
  }
}