/* FONTES ------------------------------------------------------------------- */

@font-face {
    font-family: AlegreyaSans;
    src: url('assets/fonts/alegreya-sans/AlegreyaSans-Regular.otf');
}

@font-face {
    font-family: AlegreyaSC;
    src: url('assets/fonts/alegreya-sans/AlegreyaSansSC-Regular.otf');
}

@font-face {
    font-family: RosarioItalic;
    src: url('assets/fonts/rosario/Rosario-Italic.otf');
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/raleway/Raleway-Regular.ttf');
}

/* GLOBAL ------------------------------------------------------------------- */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: 'AlegreyaSC', Arial, sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'AlegreyaSans', Arial, sans-serif;
  font-size: 20px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.hidden {
  display: none;
}

/* Jumbotron ---------------------------------------------------------------- */

.jumbotron nav {
  display: none;
}

.jumbotron {
  color: #fff;
  max-height: 100vh;
  overflow-y: hidden;
  position: relative;
  z-index: 2;
}

.jumbotron:after {
  background-color: rgba(59,6,34, .15);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.jumbotron .slider img {
  display: block;
}

.jumbotron .frases {
  position: absolute;
  z-index: 3;
}

.jumbotron .frases p {
  display: none;
  font-family: 'AlegreyaSans';
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.jumbotron .frases p.active {
  display: inherit;
}

.jumbotron .telefone {
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
  z-index: 3;
  width: 100%;
}

/* Resolução 320px - 600px */

  .jumbotron .frases {
    left: calc(50% - 45vw);
    max-width: 90vw;
    top: 40%;
  }

  .jumbotron .frases p {
    display: none;
    font-size: 5vw;
  }

  .jumbotron .telefone {
    bottom: 1vw;
    font-size: 4vw;
  }


@media screen and (min-width: 601px) {

  .jumbotron .frases {
    left: calc(50% - 30vw);
    max-width: 60vw;
    top: 40%;
  }

  .jumbotron .frases p {
    display: none;
    font-size: 2.5vw;
  }

  .jumbotron .telefone {
    bottom: 1vw;
    font-size: 2vw;
  }
}


@media screen and (min-width: 1025px) {

  .jumbotron .frases {
    left: calc(50% - 25vw);
    max-width: 50vw;
    top: 50%;
  }

  .jumbotron .frases p {
    display: none;
    font-size: 1.6vw;
  }

  .jumbotron .telefone {
    bottom: 2vw;
    font-size: 1.2vw;
  }
}

/* Serviços ----------------------------------------------------------------- */

.section.servicos h1 {
  background-color: rgba(255, 255, 255, .8);
  font-weight: normal;
  left: 0;
  padding: .2em;
  position: absolute;
  text-align: center;
  top: 4vw;
  width: 100%;
}

.section.servicos .postit {
  color: #fff;
  display: inline-block;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .5), inset 1px 1px 0 rgba(255, 255, 255, .2), inset -1px -1px 0 rgba(0, 0, 0, .1);
  text-align: center;
  position: relative;
}

.section.servicos .postit:after {
  background-color: rgb(101, 58, 1);
  background: radial-gradient(ellipse at center, rgb(181, 108, 30) 5%, rgb(191, 118, 40) 40%, rgb(171, 98, 20) 60%, rgb(101, 58, 1) 100%);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .5), inset -1px -1px 1px rgba(255, 255, 255, .3);
  border-radius: 50%;
  content: '';
  position: absolute;
}

.section.servicos .postit.laranja {
  background-color: #ff8a76;
}

.section.servicos .postit.verde {
  background-color: #abd97f;
}

.section.servicos .postit.azul {
  background-color: #5a7ab5;
}

.section.servicos .postit.turquesa {
  background-color: #00c8b5;
}

.section.servicos .postit.rosa {
  background-color: #f16ccd;
}

.section.servicos .postit img {
  display: block;
}

.section.servicos .postit h2 {
  font-family: "AlegreyaSC";
}

.section.servicos .postit p {
  font-family: "RosarioItalic";
}

/* Resolução 320px - 600px */

  .section.servicos {
    background: #ccc url('assets/img/Servicos/background.png');
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(0, 0, 0, .2);
    padding: 15vw 0 15vw 5vw;
    position: relative;
  }

  .section.servicos .postit {
    margin: 15vw 5vw 0 0;
    padding: 5vw;
    width: calc(100% - 3vw);
  }

  .section.servicos .postit:after {
    left: calc(50% - 3.5vw);
    padding: 5vw;
    top: -3vw;
  }

  .section.servicos h1 {
    font-size: 2em;
  }

  .section.servicos .postit p {
    margin: 0;
  }

  .section.servicos .postit img {
    height: 25vw;
    margin: 5vw auto;
  }

@media screen and (min-width: 601px) {
  .section.servicos {
    padding: 15vw 0 10vw 5vw;
  }

  .section.servicos h1 {
    font-size: 2.5em;
  }

  .section.servicos .postit {
    margin: 10vw 5vw 0 0;
    padding: 5vw;
    width: calc(50% - 5.5vw);
  }

  .section.servicos .postit:after {
    left: calc(50% - 1.5vw);
    padding: 3vw;
    top: -1.5vw;
  }

  .section.servicos .postit img {
    height: 13vw;
    margin: 2vw auto;
  }
}

@media screen and (min-width: 1025px) {
  .section.servicos {
    padding: 16vw 0 10vw 2vw;
    position: relative;
  }

  .section.servicos h1 {
    font-size: 2.7em;
  }

  .section.servicos .postit {
    margin: 3vw 2vw 0 0;
    padding: 1vw;
    width: calc(20% - 2.4vw);
  }

  .section.servicos .postit:after {
    left: calc(50% - 0.8vw);
    padding: 1.4vw;
    top: -0.8vw;
  }

  .section.servicos .postit img {
    height: 5vw;
    margin: 1vw auto .5vw auto;
  }

  .section.servicos .postit p {
    font-size: .8em;
    margin: .5vw 0;
  }

  .section.servicos .postit.laranja {
    transform: rotate(10deg);
  }

  .section.servicos .postit.verde {
    transform: rotate(-10deg);
  }

  .section.servicos .postit.turquesa {
    transform: rotate(10deg);
  }

  .section.servicos .postit.rosa {
    transform: rotate(-10deg);
  }
}
