/* FONTES ------------------------------------------------------------------- */

@font-face {
    font-family: AlegreyaSans;
    src: url('assets/fonts/alegreya-sans/AlegreyaSans-Regular.otf');
}

@font-face {
    font-family: AlegreyaSC;
    src: url('assets/fonts/alegreya-sans/AlegreyaSansSC-Regular.otf');
}

@font-face {
    font-family: RosarioItalic;
    src: url('assets/fonts/rosario/Rosario-Italic.otf');
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/raleway/Raleway-Regular.ttf');
}

/* GLOBAL ------------------------------------------------------------------- */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: 'AlegreyaSC', Arial, sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'AlegreyaSans', Arial, sans-serif;
  font-size: 20px;
}

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
}

.hidden {
  display: none;
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
}

/* Jumbotron ---------------------------------------------------------------- */

.jumbotron {
  color: #fff;
  font-family: 'AlegreyaSans';
  max-height: 100vh;
  overflow-y: hidden;
  position: relative;
  z-index: 2;
}

.jumbotron:after {
  background-color: rgba(59,6,34, .15);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.jumbotron .slider img {
  display: block;
  height: auto;
  width: 100%;
}

.jumbotron .frases {
  position: absolute;
  z-index: 3;
}

.jumbotron .frases p {
  display: none;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.jumbotron .frases p.active {
  display: inherit;
  letter-spacing: 4px;
}

.jumbotron .telefone {
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
  z-index: 3;
  width: 100%;
}

/* Resolução 320px - 600px */

  .jumbotron .frases {
    left: calc(50% - 45vw);
    max-width: 90vw;
    top: 40%;
  }

  .jumbotron .frases p {
    display: none;
    font-size: 5vw;
  }

  .jumbotron .telefone {
    bottom: 1vw;
    font-size: 4vw;
  }


@media screen and (min-width: 601px) {

  .jumbotron .frases {
    left: calc(50% - 30vw);
    max-width: 60vw;
    top: 40%;
  }

  .jumbotron .frases p {
    display: none;
    font-size: 2.5vw;
  }

  .jumbotron .telefone {
    bottom: 1vw;
    font-size: 2vw;
  }
}


@media screen and (min-width: 1025px) {

  .jumbotron .frases {
    left: calc(50% - 25vw);
    max-width: 50vw;
    top: 50%;
  }

  .jumbotron .frases p {
    display: none;
    font-size: 1.6vw;
  }

  .jumbotron .telefone {
    bottom: 2vw;
    font-size: 1.2vw;
  }
}
/*------------- CSS Menu -------------------*/
.menu {
  position: fixed;
  top: 0;
  margin-left: calc(50% - 512px);
  width: 1024px;
  height: 70px;
  background-color: rgba(255,255,255,1);
  color: #842c2e;
  z-index: 4;
}

.menu h1 {
  display: none;
}

.menu .logo {
  background-image: url('assets/img/Menu/logo.png');
  background-size: 100% 100%;
  width: 260px;
  height: 50px;
  display: inline-block;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.menu ul {
  display: inline-block;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

.menu ul li {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'AlegreyaSC', Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 4px;
}

.menu a {
  border: none;
  text-decoration: none;
  color: #842c2e;
  transition: all .5s linear;
}

.menu a:hover {
  color: #414142;
  border-bottom: 1px solid #414142;
}

.menu .icone-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .menu {
    width: 100%;
    margin: 0;
  }

  .menu ul {
    margin-top: 20px;
  }

  .menu ul li {
    padding: 5px;
    font-size: 19px;
  }

  .menu .logo {
    float: left;
    margin-left: 10px;
  }
}

@media screen and (max-width: 800px) {
  .menu {
    width: 100%;
  }

  .menu ul {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    transform: translateX(0); /* 120% e fica 0 ao clicar no ícone-menu pelo onclick no JS */
    transition: all .4s linear;
  }

  .menu ul li {
    display: block;
    width: 100%;
    background-color: rgba(255,255,255,.95);
    padding-bottom: 20px;
  }

  .menu ul li:first-child {
    padding-top: 20px;
  }

  .menu .icone-menu {
    display: inline-block;
    position: relative;
    float: right;
    top: -13px;
    right: 5px;
    height: 100%;
    font-size: 80px;
    color: #414142;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .menu .logo {
    background-image: url('assets/img/Menu/icone.png');
    background-size: 100% 100%;
    margin-top: 5px;
    width: 60px;
    height: 60px;
  }
}

/* Serviços ----------------------------------------------------------------- */

.section.servicos h1 {
  background-color: rgba(255, 255, 255, 1);
  font-weight: normal;
  left: 0;
  padding: .2em;
  position: absolute;
  text-align: center;
  top: 4vw;
  width: 100%;
}

.section.servicos .postit {
  color: #fff;
  display: inline-block;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .5), inset 1px 1px 0 rgba(255, 255, 255, .2), inset -1px -1px 0 rgba(0, 0, 0, .1);
  text-align: center;
  position: relative;
}

.section.servicos .postit:after {
  background-color: rgb(101, 58, 1);
  background: radial-gradient(ellipse at center, rgb(181, 108, 30) 5%, rgb(191, 118, 40) 40%, rgb(171, 98, 20) 60%, rgb(101, 58, 1) 100%);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .5), inset -1px -1px 1px rgba(255, 255, 255, .3);
  border-radius: 50%;
  content: '';
  position: absolute;
}

.section.servicos .postit.laranja {
  background-color: #ff8a76;
}

.section.servicos .postit.verde {
  background-color: #abd97f;
}

.section.servicos .postit.azul {
  background-color: #5a7ab5;
}

.section.servicos .postit.turquesa {
  background-color: #00c8b5;
}

.section.servicos .postit.rosa {
  background-color: #f16ccd;
}

.section.servicos .postit img {
  display: block;
}

.section.servicos .postit h2 {
  font-family: "AlegreyaSC";
}

.section.servicos .postit p {
  font-family: "RosarioItalic";
}

/* Resolução 320px - 600px */

  .section.servicos {
    background: #ccc url('assets/img/Servicos/curtica.jpg');
    padding: 15vw 0 15vw 5vw;
    position: relative;
  }

  .section.servicos .postit {
    margin: 15vw 5vw 0 0;
    padding: 5vw;
    width: calc(100% - 3vw);
  }

  .section.servicos .postit:after {
    left: calc(50% - 3.5vw);
    padding: 5vw;
    top: -3vw;
  }

  .section.servicos h1 {
    font-size: 2em;
  }

  .section.servicos .postit p {
    margin: 0;
  }

  .section.servicos .postit img {
    height: 25vw;
    margin: 5vw auto; 
  }

@media screen and (min-width: 601px) {
  .section.servicos {
    padding: 15vw 0 10vw 5vw;
  }

  .section.servicos h1 {
    background-color: rgba(255, 255, 255, 1);
    font-size: 2.5em;
  }

  .section.servicos .postit {
    margin: 10vw 5vw 0 0;
    padding: 5vw;
    width: calc(50% - 5.5vw);
  }

  .section.servicos .postit:after {
    left: calc(50% - 1.5vw);
    padding: 3vw;
    top: -1.5vw;
  }

  .section.servicos .postit img {
    height: 13vw;
    margin: 2vw auto;
  }
}

@media screen and (min-width: 1025px) {
  .section.servicos {
    background-color: rgba(255, 255, 255, 1);
    padding: 16vw 0 10vw 2vw;
    position: relative;
  }

  .section.servicos h1 {
    font-size: 2.7em;
  }

  .section.servicos .postit {
    margin: 3vw 2vw 0 0;
    padding: 1vw;
    width: calc(20% - 2.4vw);
  }

  .section.servicos .postit:after {
    left: calc(50% - 0.8vw);
    padding: 1.4vw;
    top: -0.8vw;
  }

  .section.servicos .postit img {
    height: 5vw;
    margin: 1vw auto .5vw auto;
  }

  .section.servicos .postit p {
    font-size: 1em;
    margin: .5vw 0;
  }

  .section.servicos .postit.laranja {
    transform: rotate(10deg);
  }

  .section.servicos .postit.verde {
    transform: rotate(-10deg);
  }

  .section.servicos .postit.turquesa {
    transform: rotate(10deg);
  }

  .section.servicos .postit.rosa {
    transform: rotate(-10deg);
  }
}
.section.portfolio {
	height: auto;
  margin-bottom: 100px;
  background-image: url('assets/img/Portfolio/logo-desenho.png');
  background-repeat: no-repeat;
  background-position: 110% -10%;
}

.section.portfolio h1 {
	width: 100%;
	text-align: center;
	background-color: rgba(200, 47, 48,.85);
	color: #fff;
	margin-top: 60px;
	padding: .2em;
  font-weight: normal;
}

.section.portfolio .laptop {
	background-image: url('assets/img/Portfolio/laptop.png');
	background-size: 100% 100%;
	width: 924px;
	max-width: 100%;
	height: 523px;
	margin: auto;
	margin-top: 200px;
}

.section.portfolio .laptop .ancoraSite {
	position: absolute;
	height: 70px;
	width: 790px;
	margin-top: -100px;
	left: calc(50% - 395px);	
}

.section.portfolio .laptop ul {
	width: 100%;
	height: 100%;
	text-align: center;
}

.section.portfolio .laptop ul li {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	background-color: #aaa;  
	margin: 0 3%;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	transition: transform .1s linear;
}

.section.portfolio .laptop ul li:hover {
	transform: translateY(-10px);
}

.section.portfolio .laptop .site {
	position: absolute;
	height: 150px;
	width: 730px;
	margin-top: 40px;
	left: calc(50% - 365px);	
  border-radius: 10px;
}

.portfolio .laptop .site .siteFull {
	position: absolute;
	overflow: auto;
	width: 100%;
	height: 370px;
}

@media screen and (max-width: 1024px) {
	.section.portfolio .laptop {
    width: 800px;
    height: 483px;
  }

  .section.portfolio .laptop ul li {
    width: 70px;
    height: 70px;
  }

  .section.portfolio .laptop .site {
    width: 640px;
    height: 340px;
    left: calc(50% - 320px);
  }

  .portfolio .laptop .site .siteFull {
    height: 340px;
  }
}

@media screen and (max-width: 800px) {
  .section.portfolio .laptop {
    width: 600px;
    height: 365px;
    margin-top: 150px;
  }

  .section.portfolio .laptop .ancoraSite {
    height: auto;
    width: 600px;
    left: calc(50% - 300px);
  }

  .section.portfolio .laptop .site {
    width: 480px;
    height: 265px;
    left: calc(50% - 240px);
    margin-top: 20px;
  }

  .portfolio .laptop .site .siteFull {
    height: 265px;
  }
}

@media screen and (max-width: 600px) {
  .section.portfolio .laptop {
    width: 450px;
    height: 273px;
  }

  .section.portfolio .laptop .ancoraSite {
    width: 400px;
    left: calc(50% - 200px);
  }

  .section.portfolio .laptop ul li {
    width: 50px;
    height: 50px;
  }

  .section.portfolio .laptop .site {
    width: 360px;
    height: 150px;
    left: calc(50% - 180px);
    margin-top: 20px;
  }

  .portfolio .laptop .site .siteFull {
    height: 200px;
  }
}

@media screen and (max-width: 450px) {
  .section.portfolio {
    background-size: 400px 400px;
    background-position: 110% -5%;
  }

  .section.portfolio .laptop {
    width: 320px;
    height: 194px;
  }

  .section.portfolio .laptop .ancoraSite {
    max-width: 100%;
    width: 320px;
    left: calc(50% - 160px);
  }

  .section.portfolio .laptop ul li {
    width: 40px;
    height: 40px;
    margin-top: 40px;
  }

  .section.portfolio .laptop .site {
    width: 260px;
    left: calc(50% - 130px);
    height: 140px;
    margin-top: 10px;
  }

  .portfolio .laptop .site .siteFull {
    height: 140px;
  }
}


/* Frase -------------------------------------------------------------------- */

.section.frase {
  background: url('assets/img/Frase/fundo2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: none;
  min-height: 50vw;
  position: relative;
}

.section.frase p {
  background-color: rgba(255, 255, 255, 1);
  color: #520034;
  font: 2em 'AlegreyaSC';
  font-weight: normal;
  left: 0;
  padding: 3em;
  position: absolute;
  text-align: center;
  top: calc(50% - 4em);
  width: 100%;
}

@media screen and (min-width: 601px) {
  .section.frase {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .section.frase {
    display: inherit;
  }
}
/* Contatos ----------------------------------------------------------------- */

/* Resolução 320px - 600px */

.section.contato {
  background: url('assets/img/Contatos/background.png');
  background-attachment: fixed;
  font-family: 'AlegreyaSC';
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 0;
}

.section.contato:after {
  background-color: rgba(255, 255, 255, 0.5);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.section.contato h1 {
  background-color: rgba(255, 255, 255, 1);
  color: #8a2f31;
  font: 2em 'AlegreyaSC';
  font-weight: normal;
  left: 0;
  padding: .2em;
  position: absolute;
  text-align: center;
  top: 8vw;
  width: 100%;
  z-index: 2;
}

.section.contato .form {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 5px;
  color: #000;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  top: 30vw;
  width: calc(100% - 2em);
  z-index: 2;
}

.section.contato .form .full {
  width: 100%;
}

.section.contato .form label {
  display: block;
  margin-bottom: 1em;
}

.section.contato .form label span.titulo {
  display: inline-block;
  padding-right: .5em;
  text-align: right;
  width: 20%;
}

.section.contato .form input {
  border: 0;
  padding: .2em .5em;
}

.section.contato .form input.input {
  display: inline-block;
  width: 80%;
}

.section.contato .form input.enviar {
  background-color: #8a2f31;
  border: 1px solid #590c00;
  border-radius: 1em;
  color: #fff;
  cursor: pointer;
  font-family: 'AlegreyaSC';
  padding: .5em 1em;
}

.section.contato .form textarea {
  min-height: 50vw;
  padding: .5em;
  resize: vertical;
  width: 100%;
}

.section.contato .form .close {
  background-color: transparent;
  border: 0;
  bottom: .5em;
  color: #8a2f31;
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  right: .5em;
}

.section.contato .mapa {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 601px) {
  .section.contato h1 {
    background-color: rgba(255, 255, 255, 1);
    color: #8a2f31;
    font: 2em 'AlegreyaSC';
    font-weight: normal;
    left: 0;
    padding: .2em;
    position: absolute;
    text-align: center;
    top: 8vw;
    width: 100%;
  }

  .section.contato .form {
    top: 20vw;
    width: calc(100% - 6em);
  }

  .section.contato .form textarea {
    min-height: 30vh;
  }
}

@media screen and (min-width: 1025px) {
  .section.contato h1 {
    font-size: 2.7em;
    top: 4vw;
  }

  .section.contato .wrapper {
    position: relative;
  }

  .section.contato .form {
    left: 0;
    position: absolute;
    top: 13vw;
    width: 25vw;
  }
}
.section.footer {
  background-color: #e9e9ec;
  padding: 3em 1em;
}

.section.footer ul,
.section.footer .redes li {
  display: block;
  float: left;
  font-family: 'AlegreyaSC';
  list-style: none;
}

.section.footer h2 {
  font-family: 'AlegreyaSC';
  font-weight: normal;
}

.section.footer .arial{
  font-family: arial;
}

.section.footer .bottom {
  font-family: 'Raleway';
}

/* Resolução 320px - 600px */

.section.footer {
  line-height: 1em;
}

.section.footer h2 {
  font-size: 1em;
}

.section.footer ul {
  width: 50%;
}

.section.footer .redes {
  width: 40%;
}

.section.footer .redes li {
  padding: .8em 0 0 .8em;
  width: calc(50% - .4em);
}

.section.footer .contatos {
  font-size: .9em;
  line-height: 1.7em;
  text-align: right;
  width: 60%;
}

.section.footer .contatos .email {
  margin-top: .5em;
}

.section.footer .bottom {
  margin-top: 2em;
}

.section.footer .bottom .logo-container{
  float: right;
  width: 35%;
}

.section.footer .bottom .disclaimer {
  font-size: .5em;
  float: left;
  line-height: 2em;
  width: 65%;
}

.section.footer .arial{
  font-size: .8em;
}

@media screen and (min-width: 601px) {

  .section.footer h2 {
    font-size: 1.5em;
    text-align: right;
  }

  .section.footer .redes {
    width: calc(50% - 2em);
  }

  .section.footer .redes li {
    float: right;
    width: auto;
  }

  .section.footer .contatos {
    font-size: 1.3em;
    line-height: 1;
    padding-left: 2em;
    text-align: left;
    width: 50%;
  }

  .section.footer .contatos .email {
    margin-top: 1em;
  }

  .section.footer .bottom .logo-container {
    padding-left: .8em;
    width: 50%;
  }

  .section.footer .bottom .logo-container img {
    max-width: 230px;
    width: 100%;
  }

  .section.footer .bottom .disclaimer {
    font-size: .7em;
    text-align: right;
    width: calc(50% - 3em);
  }
}

@media screen and (min-width: 1025px) {

  .section.footer .bottom {
    margin: 2em auto 0 auto;
    max-width: 1000px;
  }

  .section.footer .redes {
    width: calc(50% - 4em);
  }

  .section.footer .contatos {
    font-size: 1.3em;
    line-height: 1;
    padding-left: 4em;
    text-align: left;
    width: 50%;
  }

  .section.footer .contatos .email {
    margin-top: 1em;
  }

  .section.footer .bottom .logo-container {
    padding-left: 1.3em;
    width: 50%;
  }

  .section.footer .bottom .disclaimer {
    font-size: .9em;
    text-align: right;
    width: calc(50% - 4.4em);
  }
}
