
/* Jumbotron ---------------------------------------------------------------- */

.jumbotron {
  color: #fff;
  font-family: 'AlegreyaSans';
  max-height: 100vh;
  overflow-y: hidden;
  position: relative;
  z-index: 4;
}

.jumbotron .banner {
  position: relative;
  overflow: auto;
  max-width: 100%;
  z-index: 2;
}

.jumbotron .banner li {
  list-style: none;
  height: 100vh;
  background-size: cover;
  background-position: center;
}


.jumbotron .banner ul li {
  float: left;
  background-size: cover;
  background-position: center;
}

.jumbotron .banner ul li .frase {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20%;
  z-index: 3;
}

.jumbotron .banner ul li .frase p {
  display: inherit;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.jumbotron .banner .dots {
  position: absolute;
  top: 90vh;
  left: calc(50% - 50px);
}


.jumbotron .banner .dots li {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  max-height: 15px; 
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: #fff;
  opacity: .3;
  border: 1px solid #fff;
  cursor: pointer;
  text-indent: -999em;
}

.jumbotron .banner .dots li.active {
  opacity: 1;
}

.jumbotron .telefone {
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
  z-index: 3;
  width: 100%;
}

/* Resolução 320px - 600px */


  .jumbotron {
    margin-top: 70px;
  }

  .jumbotron .banner ul li .frase {
    width: 100%;
    top: 20%;
  }

  .jumbotron .banner ul li .frase p {
    font-size: 6vw;
    letter-spacing: 1px;
  }

  .jumbotron .telefone {
    bottom: 1vw;
    font-size: 4vw;
  }


@media screen and (min-width: 601px) {

  .jumbotron .banner ul li .frase p {
    font-size: 4vw;
    letter-spacing: 4px;
  }

  .jumbotron .telefone {
    bottom: 1vw;
    font-size: 2vw;
  }
}


@media screen and (min-width: 801px) {

  .jumbotron {
    margin-top: 0;
  }

  .jumbotron .banner ul li .frase {
    top: 40%;
  }

  .jumbotron .banner ul li .frase p {
    font-size: 2.5vw;
    letter-spacing: 4px;
  }
}

@media screen and (min-width: 1025px) {

  .jumbotron .banner ul li .frase p {
    font-size: 2vw;
    letter-spacing: 4px;
  }

  .jumbotron .telefone {
    bottom: 2vw;
    font-size: 1.2vw;
  }
}
