
/* Jumbotron ---------------------------------------------------------------- */

.jumbotron {
  color: #fff;
  font-family: 'AlegreyaSans';
  position: relative;
}

.jumbotron .banner ul li {
  background-size: cover;
  background-position: center;
  float: left;
  list-style: none;
}

.jumbotron .banner ul li .frase {
  left: 0;
  position: relative;
  text-align: center;
  top: calc(50% - 30px);
  width: 100%;
}

.jumbotron .banner ul li .frase p {
  text-shadow: 1px 1px 5px #000;
}

.jumbotron .banner .dots {
  bottom: 90px;
  position: relative;
  text-align: center;
  width: 100%;
}

.jumbotron .banner .dots li {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  list-style: none;
  margin-right: 15px;
  padding: 8px;
}

.jumbotron .banner .dots li:last-child {
  margin-right: 0;
}

.jumbotron .banner .dots li.active {
  background-color: rgba(255, 255, 255, 1);
}

.jumbotron .telefone {
  bottom: 30px;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
  width: 100%;
}

/* 320px */

.jumbotron .banner ul li {
  height: 100vw;
}

.jumbotron .banner ul li .frase {
  top: calc(50% - 30px);
}

.jumbotron .banner .frase {
  font-size: 5vw;
  letter-spacing: 2px;
}

.jumbotron .banner ul li.jumbo-bg {
  width: 100%;
}

@media screen and (min-width: 601px) {

  .jumbotron .banner ul li .frase {
    top: calc(50% - 30px);
  }

  .jumbotron .banner ul li {
    height: 70vw;
  }

  .jumbotron .banner .frase {
    font-size: 3vw;
    letter-spacing: 4px;
  }
}

@media screen and (min-width: 801px) {

  .jumbotron .banner ul li {
    height: 100vh;
  }

  .jumbotron .banner .frase {
    font-size: 2vw;
    letter-spacing: 4px;
  }
}

@media screen and (min-width: 1025px) {

  .jumbotron .banner ul li {
    height: 100vh;
  }

  .jumbotron .banner .frase {
    font-size: 2vw;
    letter-spacing: 4px;
  }
}