/* Contatos ----------------------------------------------------------------- */

/* Resolução 320px - 600px */

.section.contato {
  background: url('assets/img/Contatos/background.png');
  background-attachment: fixed;
  font-family: 'AlegreyaSC';
}

.section.contato:after {
  background-color: rgba(255, 255, 255, 0.5);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.section.contato h1 {
  background-color: rgba(255, 255, 255, 1);
  color: #8a2f31;
}

.section.contato .form {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 5px;
  color: #000;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  top: 100px;
  width: calc(100% - 2em);
  z-index: 2;
}

.section.contato .form .full {
  width: 100%;
}

.section.contato .form label {
  display: block;
  margin-bottom: 1em;
}

.section.contato .form label span.titulo {
  display: inline-block;
  padding-right: .5em;
  text-align: right;
}

.section.contato .form input {
  border: 0;
  padding: .2em .5em;
}

.section.contato .form input.input {
  display: inline-block;
  width: 100%;
}

.section.contato .form input.enviar {
  background-color: #c00;
  border-radius: 5px;
  color: #fff;
  color: #fff;
  cursor: pointer;
  font: 1em 'AlegreyaSC';
  font-weight: bold;
  padding: .5em 1em;
  letter-spacing: 1px;
}

.section.contato .form textarea {
  min-height: 100px;
  padding: .5em;
  resize: vertical;
  width: 100%;
}

.section.contato .form .close {
  background-color: transparent;
  border: 0;
  bottom: .5em;
  color: #c00;
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  right: .5em;
}

.section.contato .map-modal {
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.section.contato .map-modal .fechar {
  background-color: #c00;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  right: 90px;
  padding: 10px 15px;
  position: absolute;
  top: 30px;
  z-index: 4;
}

.section.contato .map-modal .mapa {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 601px) {
  .section.contato .form {
    width: calc(100% - 6em);
  }

  .section.contato .form textarea {
    min-height: 100px;
  }
}

@media screen and (min-width: 1025px) {
  .section.contato .wrapper {
    position: relative;
  }

  .section.contato .form {
    left: 0;
    position: absolute;
    width: 25vw;
  }
}
