/* Contatos ----------------------------------------------------------------- */

/* Resolução 320px - 600px */

.section.contato {
  background: url('assets/img/Contatos/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'AlegreyaSC';
  height: 660px;
  overflow: hidden;
}

.section.contato:after {
  background-color: rgba(255, 255, 255, 0.7);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.section.contato h1 {
  background-color: rgba(255, 255, 255, 1);
  color: #8a2f31;
}

.section.contato .form {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
  color: #000;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  top: 30px;
  margin: 0 auto;
  width: calc(100% - 2em);
  z-index: 2;
}

.section.contato .fecha-mapa,
.section.contato .abre-mapa {
  background-color: #c00;
  border: 0;
  border-radius: 5px;
  color: #fff;
  float: right;
  cursor: pointer;
  font: 1em 'AlegreyaSC';
  font-weight: bold;
  padding: .5em 1em;
  letter-spacing: 1px;
  margin-left: 15px
}

.section.contato .form .full {
  width: 100%;
}

.section.contato .form label {
  display: block;
  margin-bottom: 1em;
}

.section.contato .form label span.titulo {
  display: inline-block;
  padding-right: .5em;
  text-align: right;
}

.section.contato .form input {
  border: 0;
  padding: .2em .5em;
}

.section.contato .form input.input {
  display: inline-block;
  width: 100%;
}

.section.contato .form input.enviar {
  background-color: #c00;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font: 1em 'AlegreyaSC';
  font-weight: bold;
  padding: .5em 1em;
  letter-spacing: 1px;
}

.section.contato .form textarea {
  min-height: 100px;
  padding: .5em;
  resize: vertical;
  width: 100%;
}

.section.contato .map-modal {
  cursor: pointer;
  display: none;
  height: 460px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  top: 30px;
}

.section.contato .map-modal .fecha-mapa {
  background-color: #c00;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  position: absolute;
  bottom: 15px;
  right: calc(50% - 50px);
  z-index: 4;
}

.section.contato .map-modal .mapa {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

@media screen and (min-width: 601px) {
  .section.contato .form {
    width: calc(100% - 6em);
  }

  .section.contato .form textarea {
    min-height: 100px;
  }
}

@media screen and (min-width: 1025px) {
  .section.contato .wrapper {
    position: relative;
    width: 1000px;
    height: 550px;
    border: 0px solid #000;
  }

  .section.contato .form {
    top: 196px;
    left: calc(50vw - 500px);
    position: absolute;
    width: 400px;
  }
  
  .section.contato .map-modal .fecha-mapa {
    bottom: inherit;
    right: 15px;
    top: 60px;
  }
}
