.section.portfolio {
	height: auto;
  margin-bottom: 100px;
  background-image: url('assets/img/Portfolio/logo-desenho.png');
  background-repeat: no-repeat;
  background-position: 110% -10%;
}

.section.portfolio h1 {
	width: 100%;
	text-align: center;
	background-color: #8a2f30;
	color: #fff;
	margin-top: 60px;
	padding: .2em;
  font-weight: normal;
}

.section.portfolio .laptop {
	background-image: url('assets/img/Portfolio/laptop.png');
	background-size: 100% 100%;
	width: 924px;
	max-width: 100%;
	height: 523px;
	margin: auto;
	margin-top: 200px;
}

.section.portfolio .laptop .ancoraSite {
	position: absolute;
	height: 70px;
	width: 790px;
	margin-top: -100px;
	left: calc(50% - 395px);	
}

.section.portfolio .laptop ul {
	width: 100%;
	height: 100%;
	text-align: center;
}

.section.portfolio .laptop ul li {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	background-color: #aaa;  
	margin: 0 3%;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	/*transition: transform .1s linear;*/
}

.section.portfolio .laptop ul li:hover {
	transform: translateY(-10px);
}

.section.portfolio .laptop .site {
	position: absolute;
	height: 150px;
	width: 730px;
	margin-top: 40px;
	left: calc(50% - 365px);	
  border-radius: 10px;
}

.portfolio .laptop .site .siteFull {
	position: absolute;
	overflow: auto;
	width: 100%;
	height: 370px;
}

@media screen and (max-width: 1024px) {
	.section.portfolio .laptop {
    width: 800px;
    height: 483px;
  }

  .section.portfolio .laptop ul li {
    width: 70px;
    height: 70px;
  }

  .section.portfolio .laptop .site {
    width: 640px;
    height: 340px;
    left: calc(50% - 320px);
  }

  .portfolio .laptop .site .siteFull {
    height: 340px;
  }
}

@media screen and (max-width: 800px) {
  .section.portfolio .laptop {
    width: 600px;
    height: 365px;
    margin-top: 150px;
  }

  .section.portfolio .laptop .ancoraSite {
    height: auto;
    width: 600px;
    left: calc(50% - 300px);
  }

  .section.portfolio .laptop .site {
    width: 480px;
    height: 265px;
    left: calc(50% - 240px);
    margin-top: 20px;
  }

  .portfolio .laptop .site .siteFull {
    height: 265px;
  }
}

@media screen and (max-width: 600px) {
  .section.portfolio .laptop {
    width: 450px;
    height: 273px;
  }

  .section.portfolio .laptop .ancoraSite {
    width: 400px;
    left: calc(50% - 200px);
  }

  .section.portfolio .laptop ul li {
    width: 50px;
    height: 50px;
  }

  .section.portfolio .laptop .site {
    width: 360px;
    height: 150px;
    left: calc(50% - 180px);
    margin-top: 20px;
  }

  .portfolio .laptop .site .siteFull {
    height: 200px;
  }
}

@media screen and (max-width: 450px) {
  .section.portfolio {
    background-size: 400px 400px;
    background-position: 110% -5%;
  }

  .section.portfolio .laptop {
    width: 320px;
    height: 194px;
  }

  .section.portfolio .laptop .ancoraSite {
    max-width: 100%;
    width: 320px;
    left: calc(50% - 160px);
  }

  .section.portfolio .laptop ul li {
    width: 40px;
    height: 40px;
    margin-top: 40px;
  }

  .section.portfolio .laptop .site {
    width: 260px;
    left: calc(50% - 130px);
    height: 140px;
    margin-top: 10px;
  }

  .portfolio .laptop .site .siteFull {
    height: 140px;
  }
}

