.section.portfolio {
  background-image: url('assets/img/Portfolio/logo-desenho.png');
  background-repeat: no-repeat;
  background-position: 110% -10%;
  font-weight: bolder;
  font-size: 100px;
}

.section.portfolio h1 {
  background-color: #8a2f30;
  color: #fff;
}

.section.portfolio .ancoraSite {
  position: relative;
  width: 550px;
  height: 120px;
  margin-top: 70px;
  margin-left: calc(50% - 275px); 
  overflow: hidden;
}

.section.portfolio .laptop .nav-right,
.section.portfolio .laptop .nav-left {
  cursor: pointer;
  display: inline-block;
  font-size: .8em;
  position: absolute;
  top: -110px;
  width: 70px;
}

.section.portfolio .laptop .nav-left {
  left: 70px;
}

.section.portfolio .laptop .nav-right {
  right: 70px;
}

.section.portfolio ul {
  width: 200%;
  margin: auto;
  transition: left .8s;
  overflow: hidden;
  position: absolute;
  left: 0;
}

.section.portfolio ul li {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: #aaa;  
  margin: 0 .2vw;
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
  /*transition: opacity .4s linear;*/
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.section.portfolio ul li:hover {
  opacity: .7;
}

.section.portfolio span#list-port {
  list-style: none;
  text-decoration: none;
}

.section.portfolio .laptop {
  background-image: url('assets/img/Portfolio/laptop.png');
  background-size: 100% 100%;
  width: 924px;
  max-width: 100%;
  height: 523px;
  margin: auto;
  margin-top: 0;
  position: relative;
}

.section.portfolio .laptop .siteTela {
  position: absolute;
  height: 150px;
  width: 730px;
  margin-top: 40px;
  left: 50%;
  transform: translateX(-50%); 
  border-radius: 10px;
}

.section.portfolio .laptop .siteFull {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 370px;
}

.section.portfolio ul li:nth-child(1) {
  background-image: url('assets/img/Portfolio/iconeAvante.png');
}

.section.portfolio ul li:nth-child(2) {
  background-image: url('assets/img/Portfolio/iconeDomus.png');
}

.section.portfolio ul li:nth-child(3) {
  background-image: url('assets/img/Portfolio/iconePizzaria.png');
}

.section.portfolio ul li:nth-child(4) {
  background-image: url('assets/img/Portfolio/iconeDescubra.png');
}

.section.portfolio ul li:nth-child(5) {
  background-image: url('assets/img/Portfolio/iconeVilago.jpg');
}

.section.portfolio ul li:nth-child(6) {
  background-image: url('assets/img/Portfolio/iconeRaddar.jpg');
}

.section.portfolio ul li:nth-child(7) {
  background-image: url('assets/img/Portfolio/iconeMaca.png');
}

.section.portfolio ul li:nth-child(8) {
  background-image: url('assets/img/Portfolio/iconePapillon.jpg');
}

.section.portfolio ul li:nth-child(9) {
  background-image: url('assets/img/Portfolio/iconePrevent.jpg');
}

.section.portfolio ul li:nth-child(10) {
  background-image: url('assets/img/Portfolio/iconeApeve.jpg');
}

@media screen and (max-width: 1150px) {
  .section.portfolio .nav-left {
    left: 16vw;
  } 

  .section.portfolio .nav-right {
    right: 16vw;
  }
} 

@media screen and (max-width: 1024px) {
  .section.portfolio .nav-left {
    left: 12vw;
  } 

  .section.portfolio .nav-right {
    right: 12vw;
  }

  .section.portfolio .laptop .siteTela {
    width: 740px;
  }

  .section.portfolio .laptop .siteFull {
    height: 340px;
  }
}

@media screen and (max-width: 950px) {

  .section.portfolio .laptop .nav-left,
  .section.portfolio .laptop .nav-right {
    top: -150px;
  }

  .section.portfolio .nav-left {
    left: 0;
  } 

  .section.portfolio .nav-right {
    right: 0;
  }

  .section.portfolio ul li {
    width: 70px;
    height: 70px;
  }

  .section.portfolio .laptop {
    width: 800px;
    height: 486px;
  }

  .section.portfolio .ancoraSite {
    margin-left: calc(50% - 250px);
    width: 490px;
  }

  .section.portfolio .laptop .siteTela {
    width: 640px;
  }

}

@media screen and (max-width: 800px) {
  .section.portfolio {
    background-size: 400px 400px;
    background-position: 110% -5%;
  }

  .section.portfolio .laptop .nav-left,
  .section.portfolio .laptop .nav-right {
    font-size: .7em;
  }

  .section.portfolio .laptop .nav-left {
    left: 0;
    top: -140px;
  } 

  .section.portfolio .laptop .nav-right {
    right: -35px;
    top: -140px;
  }

  .section.portfolio ul li {
    width: 60px;
    height: 60px;
  }

  .section.portfolio .ancoraSite {
    margin-left: calc(50% - 215px);
    width: 440px;
  }

  .section.portfolio .laptop {
    width: 600px;
    height: 365px;
  }

  .section.portfolio .laptop .siteTela {
    width: 480px;
    height: 260px;
    margin-top: 30px;
  }

  .section.portfolio .laptop .siteFull {
    height: 260px;
  }

}

@media screen and (max-width: 600px) {
  .section.portfolio {
    font-size: 3em;
  }

  .section.portfolio .laptop .nav-left,
  .section.portfolio .laptop .nav-right {
    top: -115px;
  }

  .section.portfolio .nav-left {
    left: 30px;
    top: -120px;
  } 

  .section.portfolio .nav-right {
    right: -15px;
    top: -120px;
  }

  .section.portfolio ul li {
    width: 50px;
    height: 50px;
    margin: 0 .1vw;
  }

  .section.portfolio .ancoraSite {
    width: 315px;
    height: 70px;
    margin-left: calc(50% - 156px);
  }

  .section.portfolio .laptop {
    width: 450px;
    height: 273px;
  }

  .section.portfolio .laptop .siteTela {
    width: 360px;
    height: 150px;
    margin-top: 20px;
  }

  .section.portfolio .laptop .siteFull {
    height: 200px;
  }
}

@media screen and (max-width: 450px) {
  .section.portfolio .laptop {
    width: 310px;
    height: 174px;
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  .section.portfolio .laptop .nav-left,
  .section.portfolio .laptop .nav-right {
    top: -115px;
    width: auto;
  }

  .section.portfolio .laptop .nav-right {
    right: 0;
  }

  .section.portfolio .laptop .nav-left {
    left: 0;
  }

  .section.portfolio .ancoraSite {
    margin-left: calc(50% - 130px);
    width: 265px;
  }

  .section.portfolio ul {
    width: 250%;
  }

  .section.portfolio ul li {
    width: 40px;
    height: 40px;
  }

  .section.portfolio .laptop .siteTela {
    width: 240px;
    height: 130px;
    margin-top: 10px;
  }

  .section.portfolio .laptop .siteFull {
    height: 130px;
  }
}