.menu, .jumbotron, .contato, .frase, .equipe, .servicos, .footer {
	display: none;
}

.section.portfolio {
	height: 1142px;
	background-image: url('assets/img/Portfolio/logo-desenho.png');
	background-repeat: no-repeat;
	background-position: 110% -10%;
	border: 1px solid #000;
}

.section.portfolio h1 {
	height: 100px;
	width: 100%;
	text-align: center;
	background-color: rgba(138, 47, 48, 0.9);
	color: #fff;
	margin-top: 60px;
	padding-top: 20px;
}

.section.portfolio .laptop {
	background-image: url('assets/img/Portfolio/laptop.png');
	background-size: 100% 100%;
	width: 1024px;
	max-width: 100%;
	height: 627px;
	margin: auto;
	margin-top: 150px;
}

.section.portfolio .laptop .ancoraSite {
	position: absolute;
	height: 70px;
	width: 790px;
	margin-top: -70px;
	left: calc(50% - 395px);	
}

.section.portfolio .laptop ul {
	width: 100%;
	height: 100%;
	text-align: center;
}

.section.portfolio .laptop ul li {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 100px;
	background-color: #aaa;  
	margin: 0 3%;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

.section.portfolio .laptop .site {
	position: absolute;
	height: 450px;
	width: 810px;
	margin-top: 40px;
	left: calc(50% - 405px);	
}

.portfolio .laptop .site .siteFull {
	position: absolute;
	overflow: auto;
	width: 100%;
	height: 450px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 450px) {

}

